{% extends "/layouts/base.twig" %}

{% block main %}


<article class="single-entry-wrapper">
	<div class="single-entry-columns">
		<div class="item" role="article">
			{% include 'parts/site-name.twig' %}

			<header class="single-entry-header" role="heading" aria-level="1">
				<h2>{{ post.title }}</h2>
				<time>{{ post.date('d F Y') }}</time>
			</header>
			<div class="entry-content">

				{# <h2>Gość WordPressówki</h2>

				<div class="wordpressowka-block">
					<div class="wordpressowka-guest">
						<div class="face">
							<picture role="img">
								<source media="(max-width:880px)"
									srcset="https://images.unsplash.com/photo-1575767931074-a91868c89acb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=80" />
								<source media="(min-width: 881px) and (max-width:1023px)"
									srcset="https://images.unsplash.com/photo-1575767931074-a91868c89acb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=80" />
								<img
									src="https://images.unsplash.com/photo-1575767931074-a91868c89acb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=80" alt="" />
							</picture>

							<strong>Maciej Swoboda</strong>
							<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Mauris imperdiet</a> consectetur</small>
						</div>
						<div class="wordpressowka-guest-links">
							<div class="wordpressowka-link" role="link">
								<div class="inner">
									<p>Ponad rok temu Chris Wiegman postanowił przenieść swojego bloga na Hugo. Jednym z powodów był topornie działający Gutenberg. Teraz jednak wraca do WP i opisuje czemu to zrobił.</p>
									<div>
										<a href="https://chriswiegman.com/2020/08/hello-wordpress-my-old-friend/" title="Hello WordPress, My Old Friend" class="link" target="_blank" rel="noopener">Hello WordPress, My Old Friend</a>
									</div>
								</div>
							</div>
							<div class="wordpressowka-link" role="link">
								<div class="inner">
									<p>Ponad rok temu Chris Wiegman postanowił przenieść swojego bloga na Hugo. Jednym z powodów był topornie działający Gutenberg. Teraz jednak wraca do WP i opisuje czemu to zrobił.</p>
									<div>
										<a href="https://chriswiegman.com/2020/08/hello-wordpress-my-old-friend/" title="Hello WordPress, My Old Friend" class="link" target="_blank" rel="noopener">Hello WordPress, My Old Friend</a>
									</div>
								</div>
							</div>
							<div class="wordpressowka-link" role="link">
								<div class="inner">
									<p>Ponad rok temu Chris Wiegman postanowił przenieść swojego bloga na Hugo. Jednym z powodów był topornie działający Gutenberg. Teraz jednak wraca do WP i opisuje czemu to zrobił.</p>
									<div>
										<a href="https://chriswiegman.com/2020/08/hello-wordpress-my-old-friend/" title="Hello WordPress, My Old Friend" class="link" target="_blank" rel="noopener">Hello WordPress, My Old Friend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> #}

				{{ post.content }}

				<h4>Podoba Ci się to wydanie? Podaj dalej!</h4>
				<div class="share">
					<a href="{{ post.link | fb_share_url }}" target="_blank" rel="noopener">
						{% include 'views/parts/icons/facebook.twig' %}
						Udostępnij na Facebooku
					</a>
					<a href="{{ post.link | ln_share_url }}" target="_blank" rel="noopener">
						{% include 'views/parts/icons/linkedin.twig' %}
						Udostępnij na Linkedin
					</a>
					<a href="{{ post.link | tt_share_url }}" target="_blank" rel="noopener">
						{% include 'views/parts/icons/twitter.twig' %}
						Udostępnij na Twitterze
					</a>
				</div>
			</div>
		</div>

		<aside class="item entry-sidebar" role="form">
			{% include 'views/parts/sidebar.twig' %}
		</aside>
	</div>
</article>

{% include 'views/parts/editions-scroll.twig' %}

{% endblock %}
