{% extends "/layouts/base.twig" %}

{% block main %}

<article class="single-entry-wrapper">
	<header class="single-entry-header" role="heading">
		<h2>{{ post.title }}</h2>
	</header>
	<div class="single-entry-columns" role="grid">
		<div class="item entry-content" role="article">
			{{ post.content }}
			<form
				action="https://wordpressowka.us20.list-manage.com/subscribe/post?u=bc1349d1dfefba72bdd8c3974&amp;id=f8311d93e4"
				method="post" name="mc-embedded-subscribe-form" class="validate">
				<label><input type="name" placeholder="Twoje imię" name="NAME" required></label>
				<label><input type="email" placeholder="Twój adres email" name="EMAIL" required></label>
				<div>
					<input type="submit" value="Zapisz się teraz!" class="button color-primary expand" name="subscribe">
				</div>
			</form>

			<p>
				{% if options.reguly_newslettera %}
					<small role="alert">
						{{ options.reguly_newslettera }}
					</small>
				{% endif %}
			</p>
		</div>

		<aside class="item entry-sidebar">
			<div class="sidebar">
				{% if options.tytul_numer_sidebar %}
					<h3>{{ options.tytul_numer_sidebar }}</h3>
				{% endif %}

				<a class="edition block" href="{{ post.link }}">
					<div>
						<time>30 listopada 2020</time>
						<p class="title">WordPressówka #101</p>
						<h2>
							<span>Tematy:</span>
							WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
						</h2>
					</div>
				</a>
			</div>
		</aside>
	</div>
</article>
{% endblock %}
