{% extends "/layouts/base.twig" %}

{% block right_column %}
	<div id="right-column">
		<div role="list" id="content">
			{% include 'views/parts/header.twig' %}
			
			<h1 class="intro">
				{{ options.opis|striptags('<strong><a>') }}
			</h1>

			<article class="article">
				{% include 'views/blocks/title.twig' %}
				{{ post.content }}
			</article>
			
			<ul class="pagination">
					<li>
					{% if post.prev_post %}
						<a href="{{ post.prev_post }}">Nowsze wydanie</a>
					{% endif %}
					</li>
			
					<li>
					{% if post.next_post %}
						<a href="{{ post.next_post }}">Wcześniejsze wydanie</a>
					{% endif %}
					</li>
			</ul>

		</div>
		
		{{ parent() }}
	</div>
{% endblock %}
