{% extends "/layouts/base.twig" %}

{% block right_column %}
	<div id="right-column">
		<div role="list" id="content">
			{% include 'views/parts/header.twig' %}
			
			<h1 class="intro">
				{{ options.opis|striptags('<strong><a>') }}
			</h1>

			<article class="article">
				{% include 'views/blocks/title.twig' %}

				{{ post.content }}

				{% if is_single %}
					{% if post.status == 'publish' %}
						<div class="comments-frame">
							<h3 class="comments-headline">Dołącz do dyskusji:</h3>
							{{ function('comments_template') }}
						</div>
					{% endif %}
				{% else %}
					<a class="button-coffee comments-btn" href="{{ post.link }}#comments">{% include 'views/parts/comments-icon.twig' %} Dołącz do dyskusji</a>
				{% endif %}
			</article>
			
			<ul class="pagination">
				<li>
				{% if post.prev_post %}
					<a href="{{ post.prev_post }}">Nowsze wydanie</a>
				{% endif %}
				</li>
		
				<li>
				{% if post.next_post %}
					<a href="{{ post.next_post }}">Wcześniejsze wydanie</a>
				{% endif %}
				</li>
			</ul>

		</div>
		
		{{ parent() }}
	</div>
{% endblock %}
