{% block header %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="{{ function( 'language_attributes' ) }}" > <![endif]-->
<html {{ function( 'language_attributes' ) }}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{ options.dodaj_palete_kolorow.0.kolor_primary }}">
    {{ function('wp_head') }}

    <link rel="alternate" type="application/rss+xml" title="Wordpressowka" href="{{ site.link }}/feed/" />
	<link rel="preload" href="{{ theme.link }}/dist/fonts/poppins-v9-latin-ext_latin-700.woff2" as="font" crossorigin>
	<link rel="preload" href="{{ theme.link }}/dist/fonts/poppins-v9-latin-ext_latin-800.woff2" as="font" crossorigin>
	<link rel="preload" href="{{ theme.link }}/dist/fonts/didact-gothic-v13-latin-ext_latin-regular.woff2" as="font" crossorigin>
	{% if( get_data.generate_css == 1 ) %}
		<link id="main-css" rel="stylesheet" href="{{ css_file }}" as="style">
		<style type="text/css">
		:root {
			{% include 'views/parts/palette.twig' with { palette: options.dodaj_palete_kolorow.0 } %}
		}

		html[data-theme="dark"] {
			{% include 'views/parts/palette.twig' with { palette: options.dodaj_palete_kolorow.1 } %}
		}
		</style>
	{% else %}
		<link id="main-css" rel="preload" href="{{ css_file }}" as="style">
		<script>
			window.addEventListener('DOMContentLoaded', () => {
				var css = document.getElementById( 'main-css' );
				css.rel = 'stylesheet';
			});
		</script>
		<style type="text/css">

		{{ options.critical_css }}

		:root {
			{% include 'views/parts/palette.twig' with { palette: options.dodaj_palete_kolorow.0 } %}
		}

		html[data-theme="dark"] {
			{% include 'views/parts/palette.twig' with { palette: options.dodaj_palete_kolorow.1 } %}
		}

		</style>
	{% endif %}

</head>
{% endblock %}

<body class="{{ body_class }} {{ page404 ? 'page404' }} {{ newsletter ? 'newsletter' }}" >

{% if options.search_form_page.url %}
<a href="{{ options.search_form_page.url }}" class="button color-switcher search-icon" id="search-icon">
	{% include 'views/parts/icons/search.twig' %} <span>{{ options.search_form_page.title }}</span>
</a>
{% endif %}

{% include 'views/parts/header.twig' %}
<section data-barba="wrapper">
	<main role="main" id="wrapper" data-barba="container" data-barba-namespace="bhome">
		{% block main %}
		{% endblock %}
	</main>
</section>

{% include 'views/parts/footer.twig' %}

{% block footer %}
    {{ function( 'wp_footer' ) }}
	 <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134066876-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134066876-1');
    </script>
</body>
</html>
{% endblock %}
