
{% extends "/layouts/base.twig" %}

{% block main %}

{% inlcude 'views/parts/newsletter-mobile.twig' %}

<section class="p-b-100">
	<div class="grid-single">
		<div class="item empty">
		</div>

		<div class="item item-single entry-content">
			<header>
				<h1>{{ post.title }}</h1>
			</header>

			{{ post.content }}
		</div>

		<div class="item item-fixed">
			<div class="sidebar">
				{% if options.tytul_newslettera %}
				<div class="item">
					<h2 class="section-title text-center">
						{{ options.tytul_newslettera }}
					</h2>
				</div>
				{% endif %}

				<div class="newsletter-form">
					{% if options.opis_newslettera %}
						{{ options.opis_newslettera }}
					{% endif %}

					<form class="text-left" action="{{ options.mailchimp_url }}" method="post"
						name="mc-embedded-subscribe-form" class="validate">
						<div>
							<label>{{ __( 'Twój adres email', 'sasquatch' ) }}</label>
							<input type="email" placeholder="{{ __( 'Podaj email', 'sasquatch' ) }}">
						</div>
						<div>
							<input type="submit" value="{{ __( 'Zapisz się teraz', 'sasquatch' ) }}">
						</div>
					</form>

					{% if options.reguly_newslettera %}
					<div class="small">
						{{ options.reguly_newslettera }}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
