{% set img = Image( fields.obrazek ) %}

<div class="wordpressowka-block">
	<div class="wordpressowka-link event" role="link">
		<div class="time text-center">
			<strong>
				{{ fields.data|date('d') }}
			</strong>
			<span>{{ fields.data|date('F') }}</span>
			<small>{{ fields.data|date('Y') }}</small>
		</div>
		<div class="inner">
			<div>
				{% if fields.header %}
					<h2>{{ fields.header }}</h2>
				{% endif %}
				{{ fields.opis }}
				<div>
					<a href="{{ fields.link.url }}" title="{{ fields.link.title }}" class="link" target="_blank" rel="noopener">{{ fields.link.title }}</a>
				</div>
			</div>
			{% include 'views/parts/icons/arrow.twig' %}
		</div>
	</div>
</div>
