{#
  Title: Owl Text + Photo
  Description: Section with text and photo
  Category: formatting
  Icon: admin-comments
  Keywords: text photo
  Mode: preview
  Align: center
  PostTypes: post articles page
  SupportsMode: true
  SupportsMultiple: true
  SupportsAlign: center
#}

<section class="section p-b-100">
	<div class="grid grid-gap grid-align-middle grid-columns-2 {{ fields.reverse_order ? 'grid-reverse' }}">

		<div class="item">
			<picture>
				{% set image = Image( fields.image ) %}

				<source
					media="(min-width: 641px) and (max-width:1023px)"
					type="image/webp"
					srcset="{{ image.src|resize(800,500)|towebp }}"
					width="800"
					height="500"
				/>
				<source
					media="(min-width: 641px) and (max-width:1023px)"
					srcset="{{ image.src|resize(800,500) }}"
					width="800"
					height="500"
				/>
				<source
					type="image/webp"
					srcset="{{ image.src|resize(630,684)|towebp }}"
					width="630"
					height="684"
				/>
				<img
					src="{{ image.src|resize(630,684) }}"
					width="630"
					height="684"
					loading="lazy"
				/>
			</picture>
		</div>

		<div class="item item-content">
			{% if fields.title %}
			<h2 class="section-title text-left">
				{{ fields.title }}
			</h2>
			{% endif %}

			{{ fields.content }}
		</div>
	</div>

</section>
