{#
Title: Owl Latests Blog posts
Description: Section with last posts
Category: formatting
Icon: admin-comments
Keywords: blog posts
Mode: preview
Align: center
PostTypes: post articles page
SupportsMode: true
SupportsMultiple: false
SupportsAlign: center
#}

<section class="section p-t-100 p-b-100">
	<div class="grid grid-gap grid-align-middle grid-columns-2 border-bottom">
		<div class="item">
			<h2 class="section-title text-left">
				{{ fields.title }}
			</h2>
		</div>
		<div class="item text-right for-desktop">
			<a href="{{ site.url }}/{{ __( 'articles', 'sasquatch' ) }}" class="button color-primary">{{ __( 'Zobacz blog WordPressówki', 'sasquatch' ) }}</a>
		</div>
	</div>

	<div class="grid grid-gap grid-wide grid-align-top grid-blog">
		<div class="item">
		{% for entry in entries|slice(0, 1) %}
			{% include 'views/parts/article-large.twig' %}
		{% endfor %}
		</div>
		<div class="item item-article-column">
		{% for entry in entries|slice(1, 3) %}
			{% include 'views/parts/article-small.twig' %}
		{% endfor %}
		</div>
	</div>

	<div class="grid grid-columns-1 text-center for-mobile">
		<div class="item">
			<a href="{{ site.url }}/{{ __( 'articles', 'sasquatch' ) }}" class="button color-primary">{{ __( 'Zobacz blog WordPressówki', 'sasquatch' ) }}</a>
		</div>
	</div>
</section>
