<header id="header">

	<div class="header-left">
		<div class="item logo">
			<a href="{{ site.url }}" class="logo" aria-label="{{ __( 'Strona główna', 'sasquatch' ) }}">
				{% include 'views/parts/logo.twig' %}
				<span>
					<strong>{{ site.name }}</strong>
					<small>{{ site.description }}</small>
				</span>
			</a>
		</div>
	</div>

	<div class="header-center">
		<nav>
			<ul>
				<li>
					<a href="">Wydania</a>
				</li>
				<li>
					<a href="">Artykuły</a>
				</li>
				<li>
					<a href="">Nasi goście</a>
				</li>
				<li>
					<a href="">Zgłoś artykuł</a>
				</li>
				<li>
					<a href="">Newsletter</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="header-right">
		<div class="inner">
			<div class="item socials">
				<div class="links">
					{% if options.facebook %}
					<a href="{{ options.facebook }}" target="_blank" rel="noopener" aria-label="facebook">
						{% include 'views/parts/icons/facebook.twig' %}
					</a>
					{% endif %}
					{% if options.linkedin %}
					<a href="{{ options.linkedin }}" target="_blank" rel="noopener" aria-label="linkedin">
						{% include 'views/parts/icons/linkedin.twig' %}
					</a>
					{% endif %}
					{% if options.instagram %}
					<a href="{{ options.instagram }}" target="_blank" rel="noopener" aria-label="instagram">
						{% include 'views/parts/icons/instagram.twig' %}
					</a>
					{% endif %}
					{% if options.twitter %}
					<a href="{{ options.twitter }}" target="_blank" rel="noopener" aria-label="twitter">
						{% include 'views/parts/icons/twitter.twig' %}
					</a>
					{% endif %}
				</div>
			</div>

			<div class="item switcher">
				<a href="#" class="button color-switcher" id="themeswitcher" aria-label="{{ __( 'Zmień tryb strony', 'sasquatch' ) }}">
					{% include 'views/parts/icons/switcher.twig' %}
				</a>
			</div>

			<div class="item burger">
				<div class="burger-wrapper">
					<div class="hamburger is-active">
						<span class="line"></span>
						<span class="line"></span>
						<span class="line"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>
