<footer id="footer">
	<ul role="navigation">
	{% for item in menu.footer.get_items %}
		<li><a href="{{ item.link }}" target="{{ item.target }}" data-link="{{ item.title }}"><span>{{ item.title }}</span></a></li>
	{% endfor %}
	</ul>

	<p>{{ site.name }} {{ "now" | date("Y") }}. Crafted with <span>&hearts;</span> by <a href="https://github.com/palmiak" target="_blank">@palmiak</a> and <a href="https://github.com/Agressiva86" target="_blank">@agressiva86</a></p>

	<div class="footer-button">
		<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('WordPressówka lubi kawę!', '#142664', 'R6R1PWMX');kofiwidget2.draw();</script> 
	</div>
</footer>